<!DOCTYPE html>
<html 	xmlns="http://www.w3.org/1999/xhtml"
		xmlns:th="http://www.thymeleaf.org">
		<link rel="stylesheet" th:href="@{/css/styles.css}">
	<head>
	</head>

	<body>
		<div th:fragment="footer">
				<footer>
				<div class="form-group col-sm-6">
				<img th:src="@{/imagenes/logo2.png}" width="80" height="80" align="left"></img>
					<p>¿Quienes Somos?</p>
					<small style="text-align: justify">Finance Companion© es una solucion web enfocada en brindar asesorias virtuales para resolver todas las dudas que nuestros clientes puedan tener en el ambito financiero. Esto lo lograremos con ayuda de profesionales en finanzas y docentes especializados en lograr el aprendizaje de todos nuestros clientes</small>
					</br>
					</div>
					<div class="form-group col-sm-6">
					<p>Redes Sociales</p>
            		 <a href="https://twitter.com" target="_blank" ><img th:src="@{/imagenes/twitter.png}" alt="twitter" width="30" height="30"> </a>
           			 <a href="https://facebook.com" target="_blank" ><img th:src="@{/imagenes/facebook.png}" alt="facebook" width="30" height="30"> </a>
           			 <a href="https://instagram.com" target="_blank" ><img th:src="@{/imagenes/instagram.png}" alt="instagram" width="30" height="30"> </a>
           			 </br>
           			 </br>
           			 <small>Copyright© FICO 2021</small>
           			 </div>
				</footer>
			
		</div>
		
	</body>
	
</html>
