<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	
	<head>
		<meta charset="UTF-8"></meta>
		<title>Asesoria</title>
		
		<script type="text/javascript"
				src="ajax.aspnetcdn.com/ajax/jquery.validate/1.16.0/jquery.validate.js">
		</script>
		
		<link
			href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css"
			rel="stylesheet" id="bootstrap-css">
		</link>
		
		<script
			src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js">
		</script>
		
		<script src="code.jquery.com/jquery-3.2.1.min.js"></script>
	</head>
	
	<body>
		<div th:replace="fragments/headerA :: header"></div>
		
		<div class="container">
			<form th:action="@{/asesoria/registrar}" method="post" th:object="${asesoria}">
				<div class="form-group">
					<label for="casesoria">ID:</label>
					<input type="text" class="form-control" th:field="*{CAsesoria}"></input>
					<br>
					<div class="form-group">
						<label for="nombre">NOMBRE:</label>
						<input type="text" class="form-control" th:field="*{NAsesoria}" id="nombre"></input>
						
						<div class="alert alert-danger" th:if="${#fields.hasErrors('NAsesoria')}" 
							th:errors="*{NAsesoria}">						
						</div>
					<div class="form-group">
						<label for="descripcion">DESCRIPCION:</label>
						<input type="text" class="form-control" th:field="*{TDescripcion}" id="descripcion"></input>
						</div>
						
					<div class="form-group">
						<label for="precio">PRECIO:</label>
						<input type="text" class="form-control" th:field="*{MPrecio}" id="precio"></input>
						</div>
					
						<label for="asesor" class="col-sm-2 col-form-label">ASESOR:</label>
						<select class ="form-control" th:field="*{asesor.CAsesor}">
						<option th:each ="ases:${listaAsesores}" th:value= "${ases.CAsesor}"
						        th:text="${ases.Nnombre}"
						        th:selected= "(${ases.CAsesor}==*{asesor.CAsesor})">
						</option>
						</select>
						
					</div>
				
				</div>
				
				<button type="submit" class="btn btn-primary">Aceptar</button>
				<a href="/asesoria/listar" class="btn btn-danger">Cancelar</a>
				
			</form>
		</div>
		
		<div th:replace="fragments/footer :: footer"></div>
	</body>
	
</html>