<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	
	<head>
		<meta charset="UTF-8"></meta>
		<title>FICO</title>
		
		<script type="text/javascript"
				src="ajax.aspnetcdn.com/ajax/jquery.validate/1.16.0/jquery.validate.js">
		</script>
		
		<link
			href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css"
			rel="stylesheet" id="bootstrap-css">
		</link>
		
		<script
			src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js">
		</script>
		
		<script src="code.jquery.com/jquery-3.2.1.min.js"></script>
		<link rel="stylesheet" th:href="@{/css/styles.css}">
	</head>
	
	<body style="background-color:#B6E5E4;">
		<div th:replace="fragments/headerA :: header"></div>
		
					<div class="form-group col-sm-6">
						<img th:src="@{/imagenes/asesor.png}" width="450" height="450" align="right"></img>
					</div>
					<div class="form-group col-sm-6">
					<section id=saludo class="saludo" style="background-color:#FFFFFF">
						<h1 style="font-family:Courier New; text-align:center"> BIENVENIDO ASESOR </h1>
						</section>
					</div>
					
		<!--  <div th:replace="fragments/footer :: footer"></div>-->
	</body>
	
	
</html>