<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	
	<head>
		<meta charset="UTF-8"></meta>
		<title>Fico</title>
		<script type="text/javascript"
				src="ajax.aspnetcdn.com/ajax/jquery.validate/1.16.0/jquery.validate.js">
		</script>
		<link
			href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css"
			rel="stylesheet" id="bootstrap-css">
		</link>
		<script
			src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js">
		</script>
		<script src="code.jquery.com/jquery-3.2.1.min.js"></script>
		<link rel="stylesheet" th:href="@{/css/styles.css}">
	</head>
	
	<body>

 
		<div th:replace="fragments/header :: header"></div>
		

		<!-- <div class="background-color" style="background-color:#688E23"> 
		     		  
			<form id="myform">
				<div class="row clearfix">
		
					<div class="col-md-12 column" align="center">-->
						  	
     <section id=port class="port">	
     <h1 style="background-color:#206A5D">
            BIENVENIDO A LA EXPERCIENCIA FICO
        </h1>
        <h3 style="background-color:#206A5D">
            Seleccione su tipo de usuario 
        </h3>
     
        <video id="videoFC" autoplay muted loop>
   			 <source th:src="@{/videos/video.mp4}" >
		</video>
     
    </section> 
					</div>
				</div>
			</form>
		</div>
		
		<div th:replace="fragments/footer :: footer"></div>
	</body>
	
</html>