<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	
	<head>
		<meta charset="UTF-8"></meta>
		<title>CIUDAD</title>
		
		<script type="text/javascript"
				src="ajax.aspnetcdn.com/ajax/jquery.validate/1.16.0/jquery.validate.js">
		</script>
		
		<link
			href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css"
			rel="stylesheet" id="bootstrap-css">
		</link>
		
		<script
			src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js">
		</script>
		
		<script src="code.jquery.com/jquery-3.2.1.min.js"></script>
		<link rel="stylesheet" th:href="@{/css/styles.css}">
	</head>
	
	<body>
		<div th:replace="fragments/headerC :: header"></div>
		
		<div class="container">
			<form th:action="@{/ciudad/registrar}" method="post" th:object="${ciudad}">
				<div class="form-group">
					<label for="cciudad">ID:</label>
					<input type="text" class="form-control" th:field="*{CCiudad}"></input>
					<br>
					<div class="form-group">
						<label for="nombre">CIUDAD:</label>
						<input type="text" class="form-control" th:field="*{NCiudad}" id="nombre"></input>
						
						<div class="alert alert-danger" th:if="${#fields.hasErrors('NCiudad')}" 
							th:errors="*{NCiudad}">						
						</div>
					
						
						<label for="ciudad" class="col-sm-2 col-form-label">PAIS:</label>
						<select class ="form-control" th:field="*{pais.CPais}">
						<option th:each ="p:${listaPaises}" th:value="${p.CPais}"
						        th:text="${p.NPais}"
						        th:selected= "(${p.CPais} == *{pais.CPais})">
						</option>
						</select>
						
		
						
						
					</div>
				
				</div>
				
				<button type="submit" class="btn btn-primary">Aceptar</button>
				<a href="/ciudad/listar" class="btn btn-danger">Cancelar</a>
				
			</form>
		</div>
		
		<div th:replace="fragments/footer :: footer"></div>
	</body>
	
</html>