<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

	<head>
		
		<meta charset="ISO-8859-1"></meta>
		
		<title>Entidad</title>
		
		<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
		
		<link 	href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css"
				rel="stylesheet" id="bootstrap-css">
		</link>

		<script
			src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js">
		</script>
		
		<script type="text/javascript" th:src="@{/js/race.js}"></script>
		<link rel="stylesheet" th:href="@{/css/styles.css}">
	</head>
	
	<body style="background-color:#B6E5E4">
	
		<div th:replace="fragments/headerC :: header"></div>
		<section id=formulario class="formulario" style="background-color:#fff">
		<div class="container">
			<form th:action="@{/entidad/registrar}" method="post" th:object="${entidad}">
				<div class="form-group">
					
					<label for="CEntidad">CODIGO:</label> 
					<input type="text" class="form-control" th:field="*{CEntidad}"></input>
					
					<div class="form-group">
					
						<label 	for="nombre">ENTIDAD BANCARIA:</label> 
						<input type="text" th:field="*{NEntidad}" class="form-control" id="nombre" required></input>
	
						<div class="alert alert-danger" th:if="${#fields.hasErrors('NEntidad')}" 
							th:errors="*{NEntidad}">
						</div>
						
					</div>
					
				</div>
				
				<button type="submit" class="btn btn-primary">Aceptar</button>
				<a href="/entidad/listar" class="btn btn-danger">Cancelar</a>
			</form>
		</div>
	
	</section>
	</body>
	
</html>