<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	
	<head>
		<meta charset="UTF-8"></meta>
		<title>Asesor</title>
		
		<script type="text/javascript"
				src="ajax.aspnetcdn.com/ajax/jquery.validate/1.16.0/jquery.validate.js">
		</script>
		
		<link
			href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css"
			rel="stylesheet" id="bootstrap-css">
		</link>
		
		<script
			src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js">
		</script>
		
		<script src="code.jquery.com/jquery-3.2.1.min.js"></script>
	</head>
	
	<body>
		<div th:replace="fragments/headerA :: header"></div>
		
		<div class="container">
			<form id="myform">
				<div class="row clearfix">
					<div class="col-md-12 column">

						<a 	style="border-bottom-color: black" th:href="@{/asesor/irRegistrar}" id="add-row"
						   	type = "button"
						   	class= "btn btn-primary btn-md left-block">
							<span class="glyphicon glyphicon-plus"></span> Asesor
						</a>
						
						<table class="table table-bordered table-hover table-striped" id="tab_logic">
							<thead>
								<tr>
									<th class="text-center">CODIGO</th>
									<th class="text-center">DNI</th>
									<th class="text-center">NOMBRE DEL ASESOR</th>
									<th class="text-center">APELLIDO DEL ASESOR</th>
									<th class="text-center">CORREO</th>
									<th class="text-center">USUARIO DEL ASESOR</th>
									<th class="text-center">ESPECIALIDAD</th>
									<th class="text-center">OPERACION</th>
									<th class="text-center">OPERACION</th>
								</tr>
							</thead>
							
							<tbody>
								<tr th:each="ase: ${listaAsesores}">
									<td th:text="${ase.CAsesor}"></td>
									<td th:text="${ase.Ndni}"></td>
									<td th:text="${ase.Nnombre}"></td>
									<td th:text="${ase.Napellido}"></td>
									<td th:text="${ase.Tcorreo}"></td>
									<td th:text="${ase.Nusuario}"></td>
									<td th:text="${ase.especialidad.NEspecialidad}"></td>
									<td class="text-center"><a class="glyphicon glyphicon-trash" th:href="@{/asesor/eliminar?id=}+${ase.CAsesor}"> Eliminar</a></td>
									<td class="text-center"><a class="glyphicon glyphicon-pencil" th:href="@{'/asesor/modificar/' + ${ase.CAsesor}}"> Modificar</a></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<div th:if="${mensaje}" class="alert alert-danger">
					<p th:text="${mensaje}"></p>
				</div>
			</form>
		</div>
		
		<div th:replace="fragments/footer :: footer"></div>
	</body>
	
</html>