<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	
	<head>
		<meta charset="UTF-8"></meta>
		<title>Asesoria</title>
		
		<script type="text/javascript"
				src="ajax.aspnetcdn.com/ajax/jquery.validate/1.16.0/jquery.validate.js">
		</script>
		
		<link
			href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css"
			rel="stylesheet" id="bootstrap-css">
		</link>
		
		<script
			src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js">
		</script>
		
		<script src="code.jquery.com/jquery-3.2.1.min.js"></script>
		<link rel="stylesheet" th:href="@{/css/styles.css}">
		
	</head>
	
	<body style="background-color:#B6E5E4">
		<div th:replace="fragments/headerC :: header"></div>
		
		<div class="container">
			<form id="myform">
				<div class="row clearfix">
					<div class="col-md-12 column">
					
				        <form th:action="@{/asesoria/find}" method="post"
						th:object="${asesoria}">

						<div class="form-group">
							<table>
								<tbody>
									<tr>
										<td><label for="nombreAsesoria"
											class="col-sm-2 col-form-label">Asesoria:</label></td>
										<td><input type="text" class="form-control"
											th:field="*{NAsesoria}" id="nombreAsesoria"
											placeholder="Nombre Asesoria" required="required"></input></td>
										<td>
										<button type="submit" class="btn btn-danger">Buscar
												<i class="iconf fa fa-search" style="color: white;"></i>
										</button>
											</td>
											
										<td><a href="/asesoria/listar" class="btn btn-danger">Limpiar</a></td>
									</tr>
								</tbody>
							</table>
						</div>
					</form>

					
						
						<table class="table table-bordered table-hover table-striped" id="tab_logic">
							<thead>
								<tr>
									<th class="text-center">CODIGO</th>
									<th class="text-center">ASESORIA</th>
									<th class="text-center">DESCRIPCION</th>
									<th class="text-center">PRECIO</th>
									<th class="text-center">NOMBRE DEL ASESOR</th>
									<th class="text-center">OPERACION</th>
									<th class="text-center">OPERACION</th>
								</tr>
							</thead>
							
							<tbody>
								<tr th:each="ases: ${listaAsesorias}">
									<td th:text="${ases.CAsesoria}"></td>
									<td th:text="${ases.NAsesoria}"></td>
									<td th:text="${ases.TDescripcion}"></td>
									<td th:text="${ases.MPrecio}"></td>
									<td th:text="${ases.asesor.Nnombre}"></td>
									<td class="text-center"><a class="glyphicon glyphicon-trash" th:href="@{/asesoria/eliminar?id=}+${ases.CAsesoria}"> Eliminar</a></td>
									<td class="text-center"><a class="glyphicon glyphicon-pencil" th:href="@{'/asesoria/modificar/' + ${ases.CAsesoria}}"> Modificar</a></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<div th:if="${mensaje}" class="alert alert-danger">
					<p th:text="${mensaje}"></p>
				</div>
			</form>
		</div>
		
		<div th:replace="fragments/footer :: footer"></div>
	</body>
	
</html>