<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	
	<head>
		<meta charset="UTF-8"></meta>
		<title>Tarjeta</title>
		
		<script type="text/javascript"
				src="ajax.aspnetcdn.com/ajax/jquery.validate/1.16.0/jquery.validate.js">
		</script>
		
		<link
			href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css"
			rel="stylesheet" id="bootstrap-css">
		</link>
		
		<script
			src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js">
		</script>
		
		<script src="code.jquery.com/jquery-3.2.1.min.js"></script>
	</head>
	
	<body>
		<div th:replace="fragments/headerC :: header"></div>
		
		<div class="container">
			<form id="myform">
				<div class="row clearfix">
					<div class="col-md-12 column">

						<a 	style="border-bottom-color: black" th:href="@{/tarjeta/irRegistrar}" id="add-row"
						   	type = "button"
						   	class= "btn btn-primary btn-md left-block">
							<span class="glyphicon glyphicon-plus"></span> Tarjeta
						</a>
						
						<table class="table table-bordered table-hover table-striped" id="tab_logic">
							<thead>
								<tr>
									<th class="text-center">CODIGO</th>
									<th class="text-center">NUMERO DE TARJETA</th>
									<th class="text-center">DNI DEL CLIENTE</th>
									<th class="text-center">TIPO DE TARJETA</th>
									<th class="text-center">ENTIDAD BANCARIA</th>
									<th class="text-center">OPERACION</th>
									<th class="text-center">OPERACION</th>
								</tr>
							</thead>
							
							<tbody>
								<tr th:each="ta: ${listaTarjetas}">
									<td th:text="${ta.CTarjeta}"></td>
									<td th:text="${ta.numTarjeta}"></td>
									<td th:text="${ta.cliente.NDNI}"></td>
									<td th:text="${ta.ttarjeta.NTTarjeta}"></td>
									<td th:text="${ta.entidad.NEntidad}"></td>
									<td class="text-center"><a class="glyphicon glyphicon-trash" th:href="@{/tarjeta/eliminar?id=}+${ta.CTarjeta}"> Eliminar</a></td>
									<td class="text-center"><a class="glyphicon glyphicon-pencil" th:href="@{'/tarjeta/modificar/' + ${ta.CTarjeta}}"> Modificar</a></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<div th:if="${mensaje}" class="alert alert-danger">
					<p th:text="${mensaje}"></p>
				</div>
			</form>
		</div>
		
		<div th:replace="fragments/footer :: footer"></div>
	</body>
	
</html>