<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	
	<head>
		<meta charset="UTF-8"></meta>
		<title>Meta</title>
		
		<script type="text/javascript"
				src="ajax.aspnetcdn.com/ajax/jquery.validate/1.16.0/jquery.validate.js">
		</script>
		
		<link
			href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css"
			rel="stylesheet" id="bootstrap-css">
		</link>
		
		<script
			src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js">
		</script>
		
		<script src="code.jquery.com/jquery-3.2.1.min.js"></script>
		<link rel="stylesheet" th:href="@{/css/styles.css}">
	</head>
	
	<body style="background-color:#B6E5E4">
		<div th:replace="fragments/headerC :: header"></div>
		<section id=formulario class="formulario" style="background-color:#fff">
		<div class="container">
			<form th:action="@{/meta/registrar}" method="post" th:object="${meta}">
				<div class="form-group">
					<label for="cmeta">ID:</label>
					<input type="text" class="form-control" th:field="*{CMeta}"></input>
					<br>
					<div class="form-group">
						<label for="nombre">META FINANCIERA:</label>
						<input type="text" class="form-control" th:field="*{NMeta}" id="nombre"></input>
						
						<div class="alert alert-danger" th:if="${#fields.hasErrors('NMeta')}" 
							th:errors="*{NMeta}">						
						</div>
						
						<div class="form-group">
						<label for="descripcion">DESCRIPCIÓN DE META FINANCIERA:</label>
						<input type="text" class="form-control" th:field="*{TDescripcion}" id="descripcion" maxlength="50"></input>
						
						<div class="alert alert-danger" th:if="${#fields.hasErrors('TDescripcion')}" 
							th:errors="*{TDescripcion}">						
						</div>
						
						<label for="fechadeInicio">FECHA DE INICIO:</label>
						<input type="date" class="form-control" th:field="*{FechaInicio}" id="fechadeInicio"></input>
						
						<div class="alert alert-danger" th:if="${#fields.hasErrors('FechaInicio')}" 
							th:errors="*{FechaInicio}">						
						</div>
						
						<label for="fechadeFin">FECHA DE FIN:</label>
						<input type="date" class="form-control" th:field="*{FechaFin}" id="fechadeFin"></input>
						
						<div class="alert alert-danger" th:if="${#fields.hasErrors('FechaFin')}" 
							th:errors="*{FechaFin}">						
						</div>
						
						<label for="cliente" class="col-sm-2 col-form-label">NOMBRE DEL CLIENTE:</label>
						<select class ="form-control" th:field="*{cliente.CCliente}">
						<option th:each ="cl:${listaClientes}" th:value="${cl.CCliente}"
						        th:text="${cl.NNombre}"
						        th:selected= "(${cl.CCliente} == *{cliente.CCliente})">
						</option>
						</select>
						
						<br>

						
						
					</div>
				
				</div>
				
				<button type="submit" class="btn btn-primary">Aceptar</button>
				<a href="/meta/listar" class="btn btn-danger">Cancelar</a>
				
			</form>
		</div>
		</section>
	</body>
	
</html>